
.vs/AStarSearch/FileContentIndex/f4fbce1c-5471-4674-af6d-7f0935eaa034.vsidx
.vs/AStarSearch/FileContentIndex/read.lock
.vs/AStarSearch/v17/.suo
.vs/AStarSearch/v17/Browse.VC.db
.vs/AStarSearch/v17/Solution.VC.db
.vs/DriveMeHome/FileContentIndex/56c37bf1-8710-42e4-9d78-bb36974b0d5d.vsidx
.vs/DriveMeHome/FileContentIndex/read.lock
.vs/DriveMeHome/v17/.suo
.vs/DriveMeHome/v17/Browse.VC.db
.vs/DriveMeHome/v17/Solution.VC.db
